
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}
.center2 {
    margin: auto;
    width: 60%;
    border: 1px solid #73AD21;
    padding: 10px;
    text-align: center;
}
.right {
    position: absolute;
    right: 10px;
    width: 300px;
    padding: 0px;
}
.right2 {
    position: absolute;
    right: 0px;
    width: 300px;
    padding:1px;
    margin-top: 10px;
}
@media print {
    #print {
        display: none;
    }
}

